<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>The Home Page <%= 4 + 5 + 1 %></h1>
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum a nesciunt harum veniam reiciendis ipsum illum modi! Quam nisi officiis harum, earum eveniet rem id tempora iste nulla provident expedita!</p>
    
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae hic delectus suscipit ipsa aspernatur magnam, aut eum quis minima laudantium eaque excepturi autem deleniti quia enim, architecto fugit debitis maxime? </p>
</body>
</html>